@font-face {
    font-family: '0xProto';
    src: local('0xProto Regular'), local('0xProto-Regular'),
        url('fonts/0xProto-Regular.woff2') format('woff2'),
        url('fonts/0xProto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '0xProto';
    src: local('0xProto Regular'), local('0xProto-Regular'),
        url('fonts/0xProto-Regular_1.woff2') format('woff2'),
        url('fonts/0xProto-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '0xProto';
    src: local('0xProto Regular'), local('0xProto-Regular'),
        url('fonts/0xProto-Regular_2.woff2') format('woff2'),
        url('fonts/0xProto-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

