@font-face {
    font-family: '0xProto';
  src: url(https://voidnonymous.github.io/doobering/0xProto-Regular.tff)
  src: url(https://voidnonymous.github.io/doobering/0xProto-Regular.woff2)
}
p {
    font-family: '0xProto';
    color: darkgreen;
}
